body {
	margin: 0;
	padding: 0;
}

#showImage {
	margin: 0;
	padding: 0;
}

IMG {
	display: block;
}

.text_large {
	font-size: x-large;
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.setup_theme {
	background-color: #8AB840;
	margin: 0 10px;
}

.setup_step {
	width: 100%;
	float: left;
}

.indent {
	margin-left: 25px;
}

.institution_color {
	color: #512698;
}

.monitor_row {
	width: 100%;
	float: left;
	margin-left: 25px;
	border-bottom: solid black 1px;
}

.monitor_item {
	background-image: url(icon_empty_monitor_transparent.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 122px;
	margin: 10px;
	float: left;
	background-color: white;
}

.monitor_item:hover {
	background-color: #CC7518;
}

.monitor_text {
	text-align: center;
	padding-top: 33px;
	font-size: large;
	font-weight: bold;
}

